<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">שם פרטי</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName">
                    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">חובה למלא שם פרטי</div>
                        <div *ngIf="firstName.errors.minlength">השם צריך להכיל לפחות שני תווים</div>
                    </div>
        </div>
        <div class="form-group">
            <label for="lastName">שם משפחה</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName">
                    <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">חובה למלא שם משפחה</div>
                        <div *ngIf="lastName.errors.minlength">שם המשפחה צריך להכיל לפחות שני תווים</div>
                    </div>        
        </div>
        <div class="form-group">
            <label for="email">אימייל</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
                    <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                        <div *ngIf="email.errors.required">חובה למלא אימייל</div>
                        <div *ngIf="email.errors.pattern">האימייל חייב להיות בתבנית user@example.com</div>
                    </div>    
        </div>
        <div class="form-group">
            <label for="password">סיסמה</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
                    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                        <div *ngIf="password.errors.required">חובה למלא סיסמה</div>
                    </div>  
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!signupForm.valid">שלח
        </button>
                <!-- disabling the button if one of the fields (or all of them) is not valid -->
    </form>
</div>