<form>
    <div class="form-group row">
      <label for="roommate-age">טווח גיל</label>
      <div class="col-sm-10">
        <input
                type="number"
                id="roommate-age"
                class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-female">נקבה</label>
      <div class="col-sm-10">
        <select id="roommate-female" class="form-control">
          <option selected>סטרייט</option>
          <option>גיי</option>
          <option>בלי נקבות</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-male">זכר</label>
      <div class="col-sm-10">
        <select id="roommate-male" class="form-control">
          <option selected>סטרייט</option>
          <option>גיי</option>
          <option>בלי זכרים</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-religion">דת</label>
      <div class="col-sm-10">
        <select id="roommate-religion" class="form-control">
          <option selected>דתי</option>
          <option>מסורתי ששומר שבת</option>
          <option>מסורתי שלא שומר שבת</option>
          <option>אתאיסט</option>
          <option>חילוני</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-kosher">כשרות</label>
      <div class="col-sm-10">
        <select id="roommate-kosher" class="form-control">
          <option selected>שומר כשרות</option>
          <option>לא שומר כשרות</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-kitchen">מטבח</label>
      <div class="col-sm-10">
        <select id="roommate-kitchen" class="form-control">
          <option selected>כשר חלבי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-diet">תזונה</label>
      <div class="col-sm-10">
        <select id="roommate-diet" class="form-control">
          <option selected>צמחוני</option>
          <option>טבעוני</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="roommate-smoking">עישון</label>
      <div class="col-sm-10">
        <select id="roommate-smoking" class="form-control">
          <option selected>לא מעשן</option>
          <option>מעשן רק בחוץ</option>
          <option>מעשן בפנים ובחוץ</option>
        </select>
      </div>
    </div>
    <button
            class="btn btn-primary"
            type="submit">שמור</button>
            <!-- disabling the button if one of the fields (or all of them) is not valid -->
  </form>  