<form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
      <label>מין</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="sex">
          <option>זכר</option>
          <option>נקבה</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>גיל</label>
      <div class="col-sm-10">
          <select class="form-control" formControlName="age">
            <option></option>
            <option *ngFor="let age of user_age">{{ age }}</option>
          </select>
      </div>
    </div>
    <div class="form-group row">
      <label>בחר אזורי התגוררות</label>
      <div class="col-sm-10">
        <span *ngIf="regions">
          <select class="form-control" formControlName="regions" multiple>
              <option></option>
              <option *ngFor="let region of regions">{{ region }}</option>
            </select>
        </span>
      </div>
    </div> 
    <div class="form-group row">
      <label>מצב משפחתי</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="martialStatus"> 
          <option>רווק</option>
          <option>בזוגיות</option>
          <option>מאורס</option>
          <option>נשוי</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>ילדים</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="hasChildren">
          <option>יש ילדים</option>
          <option>אין ילדים</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>עיסוק</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="occupation">
          <option>עובד במשרה מלאה</option>
          <option>עובד במשרה חלקית</option>
          <option>סטודנט</option>
          <option>חייל</option>
          <option>ללא עיסוק</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>דת</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="religion">
          <option>חילוני</option>
          <option>מסורתי ששומר שבת</option>
          <option>דתי</option>
          <option>אתאיסט</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>מטבח</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="kitchen">
          <option>כשר</option>
          <option>לא כשר</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>תזונה</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="diet">
          <option>רגילה</option>
          <option>צמחונית</option>
          <option>טבעונית</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>עישון</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="smoking">
          <option>מעשן</option>
          <option>לא מעשן</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label>מחזיק בע"ח</label>
      <div class="col-sm-10">
        <span *ngFor="let animal of animals.controls">
          <input type="checkbox" (change)="change(animal.value)">
          <label>{{ animal.value }}</label>
        </span>
      </div>
      <div class="form-group row">
        <label>כלי נגינה</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="playInstrument">
            <option>מנגן בכלי נגינה</option>
            <option>לא מנגן בכלי נגינה</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label>נקיון</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="cleaning">
          <option>נקי</option>
          <option>ממוצע</option>
          <option>לא נקי</option>
          <option>לא רלוונטי</option>
        </select>
      </div>
    </div>  
    <div class="form-group">
      <label>מידע נוסף</label>
      <textarea class="form-control" rows="3" formControlName="additionalInfo"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">שמור</button>
</form> 
