input[type="file"] { 
    visibility: hidden; 
}

.image-preview { 
    border-radius: 2px;
    overflow: hidden;
    display: block; 
    margin: 0 auto; 
    height: 100px;
}

.image-preview img { 
    height: 100%;
}

.card {
    /* position: relative; */ 
    display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem; 
}

.container-fluid {
    direction: rtl;
}

