<form>
    <!-- info about where to live -->
  <div class="form-group row">
  <h4>פרטים לגבי הדירה:</h4>
  <label for="city">עיר הדירה</label>
  <div class="col-sm-10">
    <select id="city" class="form-control">
      <option selected>בחר</option>
    </select>
  </div>
  </div>
  <div class="form-group row">
    <label for="date-input" class="col-2 col-form-label">תאריך כניסה לדירה</label>
    <div class="col-sm-10">
      <input class="form-control" type="date" id="date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="maxBudget">שכר דירה מקסימלי (חודשי)</label>
    <div class="col-sm-10">
      <input
              type="number"
              id="maxBudget"
              class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="lenghtOfStay">תקופת ההשכרה</label>
    <div class="col-sm-10">
      <select id="lenghtOfStay" class="form-control">
        <option selected>שנה או יותר</option>
        <option>9 חודשים</option>
        <option>6 חודשים</option>
        <option>3 חודשים</option>
        <option>חודש אחד</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="optionForAnimals">אפשרות לבעלי חיים</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">כן</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">לא</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">לא רלוונטי</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="numOfRooms">מספר חדרים</label>
    <div class="col-sm-10">
      <input type="number" id="numOfRooms" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="numOfRoommies">מספר שותפים</label>
    <div class="col-sm-10">
      <input type="number" id="numOfRoommies" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="optionForFurniture">ריהוט</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">עם</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">בלי</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">לא רלוונטי</label>
      </div>
    </div>
  </div>
  <button
          class="btn btn-primary"
          type="submit">שמור</button>
</form>