.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: rgb(248, 248, 248);
    text-shadow: rgb(94, 94, 94) 0.1em 0.1em 0.1em;
    background: url('https://cdn.pixabay.com/photo/2017/08/01/20/52/people-2567915_1280.jpg') no-repeat center center;
  }