<div class="jumbotron">
  <div class="container">
    <h1>YourRoomie</h1>
    <p>המקום הטוב ביותר עבורך למצוא את השותף האולטימטיבי לדירה</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">למד עוד..</a></p>
  </div>
</div>

<!-- any grid needs to be inside of a container -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>יצירת קשר</h2>
            <p>מצאת שותף מתאים? תוכל איתו קשר דרך המערכת, או לשמור אותו במועדפים ליצירת קשר במועד מתאים יותר</p>
            <img src="https://image.flaticon.com/icons/svg/7/7680.svg" width="100px" height="100px" alt="" srcset="">
        </div>
      <div class="col-md-4">
        <h2>פרסום ומציאת דירה</h2>
        <p>בנוסף למציאת שותף, פרסום דירה להשכרה דרך האתר היא קלה ונוחה </p>
        <img src="https://image.flaticon.com/icons/svg/10/10021.svg" width="100px" height="100px" alt="" srcset="">
      </div>
      <div class="col-md-4">
          <h2>התאמות</h2>
          <p> בעזרת מילוי פרטים אישיים המערכת תמצא עבורך את השותף המתאים ותחסוך לך שעות של חיפושים ובירורים עם שותפים פוטנציאלים לדירה. תוכל לצפות בפרופילי המשתמשים באתר כדי לקרוא פרטים נוספים</p>
          <img src="https://image.flaticon.com/icons/svg/10/10164.svg" width="100px" height="100px" alt="" srcset="">
      </div>
  </div>
</div>